body {
    background-color: #141519;
}

.container {
    width: 31%;
    height: 34%;
    background-color: #1d242e;
    position: absolute;
    border-radius: 28px;
    margin-top: 20%;
    text-align: center;
    margin-left: 30%;
}

.grades {
    margin: 3%;
    text-align: center;
    background-color:  #29323b;
    border-radius: 50%;
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    color: white;
}

.grades:hover {
    background-color: #fb7917;
}

.buttonSubmit {
    width: 100px;
    position: relative;
    border-radius: 30px;
    width: 303px;
    height: 35px;
    background-color: #fb7917;
    color: white;
}

p{
    margin-left: 30px;
    margin-right: 30px;
    text-align:justify;
    font-size: 16px;
}

h1 {
    margin-left: 30px;
    margin-right: 30px;
    text-align:justify;
    font-size: 22px;
    font-weight: bold;
}

.star {
    margin-top: 25px;
    margin-left: 30px;
    margin-right: 5px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 40px;
    background-color:  #29323b;
}

.buttonSubmit:hover{
    background-color: white;
    color: #fb7917;
}