
.container {
    width: 28vw;
    height: 42vh;    
    background-color: #1d242e;
    border-radius: 28px;
    text-align: center;
    margin: 0 auto;
    margin-top: 10%;
}

.content{
   position: absolute;
   width: 28vw;
   height: 35vh;   
}

.star {
    margin-top: 4%;
    margin-left: 20px;
    margin-right: 5px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 40px;
    background-color: #29323b;
}

h1  {
    margin-top: 2%;
    margin-left: 30px;
    margin-right: 30px;
    text-align: justify;
    font-size: 22px;
    font-weight: bold;
}

p {
    margin: autoC;
    margin-left: 30px;
    margin-right: 30px;
    text-align: justify;
    font-size: 16px;
}

#grades1,
#grades2,
#grades3,
#grades4,
#grades5 {
    margin: 3%;
    text-align: center;
    background-color: #29323b;
    border-radius: 50%;
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    color: white;
    border: none;
}

#grades1:hover,
#grades2:hover,
#grades3:hover,
#grades4:hover,
#grades5:hover {
    background-color: #fb7917;
}


.buttonSubmit:hover {
    background-color: white;
    color: #fb7917;
}

.buttonSubmit {
    width: 100px;
    position: relative;
    border-radius: 30px;
    width: 303px;
    height: 35px;
    background-color: #fb7917;
    color: white;
}
